body {

  font-family: 'DM Sans';
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Epilogue';
  font-weight: 500;
}

.display-5,
.display-4 {
  font-weight: 500 !important;
}

.card-img,
.card-img-bottom,
.card-img-top {
  aspect-ratio: 16 / 10;
}