body {

  font-family: 'DM Sans';
  font-weight: 300;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Epilogue';
  font-weight: 500;
}

header {
  background-color: #15F5BA;
}

.btn {
  padding: 10px 20px;
  border-radius: 4px;
}

.btn-primary {
  --bs-btn-bg: #836FFF;
  --bs-btn-border-color: #836FFF;
  --bs-btn-hover-bg: #644dff;
  --bs-btn-active-bg: #644dff;
  --bs-btn-disabled-bg: #836FFF;
  --bs-btn-disabled-border-color: #836FFF;
}

.btn-secondary {
  --bs-btn-color: #000;
  --bs-btn-bg: #F1DB4B;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #f4e371;
  --bs-btn-hover-border-color: #f4e371;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f4e371;
  --bs-btn-active-border-color: #f4e371;
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #F1DB4B;
  --bs-btn-disabled-border-color: #F1DB4B;
}

.display-5,
.display-4 {
  font-weight: 500 !important;
}

.card {
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
}

.card-img,
.card-img-bottom,
.card-img-top {
  aspect-ratio: 16 / 10;
  -o-object-fit: cover;
  object-fit: cover;
}

img.skill-icon {
  height: 20px;
  margin-right: 7px;
  width: 25px;
  -o-object-fit: contain;
  object-fit: contain;
}

.list-group-item {
  background-color: #F0F3FF;
}

.form-control {
  border-radius: 4px;
  border: none;
}

#contact-section {
  background-color: #211951;
}



/* Media Queries */

@media (max-width: 767px) {

  .display-4 {
    font-size: 28px;
  }

  #profile-picture {
    max-width: 80%;
  }

}