:root,
[data-bs-theme=light] {

  --bs-primary: #836FFF;
  --bs-primary-rgb: 131, 111, 255;

  --primaryGreen: #15F5BA;
  --faintBorder: 1px solid rgb(240 243 255 / 20%);
}

[data-bs-theme="dark"] {
  --bs-body-bg: #20123b;
  --bs-body-bg-rgb: 32, 18, 59
}

body {

  font-family: 'DM Sans';
  font-weight: 300;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
}

header,
#intro,
.primary-green {
  background-color: var(--primaryGreen)
}

header {
  border-bottom: var(--faintBorder)
}

#intro,
#projects {
  border-bottom: var(--faintBorder);
}

[data-bs-theme="dark"] header,
[data-bs-theme="dark"] #intro,
[data-bs-theme="dark"] .primary-green {
  background-color: var(--bs-body-bg)
}

[data-bs-theme="dark"] .text-highlight {
  color: var(--primaryGreen)
}

.btn-toolbar {
  row-gap: 1rem;
}

#intro {
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
  -webkit-box-shadow: none !Important;
  box-shadow: none !Important;
  padding-right: 0;
}

.navbar-brand {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}

.navbar i {
  min-width: 22px;
  text-align: center;
  font-size: 18px;
}

footer {
  row-gap: 1rem;
}

footer a {
  color: #836FFF;
}

.btn {
  padding: 10px 20px;
  border-radius: 4px;
}

.btn-primary {
  --bs-btn-bg: #836FFF;
  --bs-btn-border-color: #836FFF;
  --bs-btn-hover-bg: #644dff;
  --bs-btn-active-bg: #644dff;
  --bs-btn-disabled-bg: #836FFF;
  --bs-btn-disabled-border-color: #836FFF;
}

.btn-secondary {
  --bs-btn-color: #000;
  --bs-btn-bg: #F1DB4B;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #f4e371;
  --bs-btn-hover-border-color: #f4e371;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f4e371;
  --bs-btn-active-border-color: #f4e371;
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #F1DB4B;
  --bs-btn-disabled-border-color: #F1DB4B;
}

.display-5,
.display-4 {
  font-weight: 600 !important;
}

.card {
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
  border: 1px solid var(--primaryGreen)
}

[data-bs-theme="dark"] .card {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: var(--faintBorder)
}

.card-img,
.card-img-bottom,
.card-img-top {
  aspect-ratio: 16 / 10;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
}

span.badge.bg-info {
  font-weight: normal;
  font-family: 'Plus Jakarta Sans';
  background: #F0F3FF !important;
  color: black !important;
  margin-right: 5px;
  border-radius: 5px;
  padding: 7px 15px;
  border: var(--faintBorder)
}

[data-bs-theme="dark"] span.badge.bg-info {
  background: var(--bs-body-bg) !important;
  color: white !important;
}

img.skill-icon {
  height: 20px;
  margin-right: 7px;
  width: 25px;
  -o-object-fit: contain;
  object-fit: contain;
}

.list-group-item {
  background-color: #F0F3FF;
  border: var(--faintBorder);
}

.container {
  position: relative;
}

.list-group-horizontal>.list-group-item+.list-group-item {
  border-top-width: 1px;
  border-left-width: 1px;
}

[data-bs-theme="dark"] .list-group-item {
  background-color: #20123b
}

.form-control {
  border-radius: 4px;
  border: var(--faintBorder)
}

#contact-section {
  background-color: #20123b;
  border: var(--faintBorder)
}

#mobile-dark-toggle {
  position: absolute;
  right: 45px;
  top: 3px;
  font-size: 22px;
}

#mobile-dark-toggle i {
  font-size: 22px;
}

.technology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 4px;
}

/* Media Queries */

@media (max-width: 576px) {

  .display-4 {
    font-size: 36px;
  }

  #profile-picture {
    max-width: 100%;
  }

}